@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-main: #e94a4a;
  --theme-sub: #ef3838;
  --theme-font: #e5e5e5;

  --main-main: #f0f0f0;
  --main-sub: #e7e7e7;
  --main-font: #1a1a1a;

  --side-main: #ffd230;
  --side-sub: #fcff49;
  --side-font: #1a1a1a;
}

::-webkit-scrollbar {
  /* w-8 */
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--side-main);
}

::-webkit-scrollbar-thumb {
  background: var(--side-font);
}

.firebase-emulator-warning {
  /* 邪魔なので */
  display: none !important;
}
